@charset "UTF-8";
body {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
	background-color: #E9D7C0;
		}
h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 75px;
  font-weight: 500;
  font-style: normal;
	color: #9B7D61;
	padding-left: 50px
		}
h2 {
	font-family: "Roboto Condensed", sans-serif;
  font-weight: 100px;
	font-size: 40px;
  font-style: normal;
	color: #92ada4;
	padding-left: 125px;
	padding-right: 125px
		}
h3 {
	font-family: "Roboto Condensed", sans-serif;
  font-weight: 700px;
	font-size: 30px;
  font-style: normal;
	color: #9B7D61;
	padding-left: 100px;
	padding-top: 25px
		}
h4 {
	font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
	color: #9B7D61;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 2px;
	padding-top: 5px
		}
h5 {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
	color: #AD937C;
	padding-left: 125px;
	padding-right: 100px;
		}
p {
	font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 150;
  font-style: normal;
	color: #9B7D61;
	padding-left: 125px;
	padding-right: 100px
		}
a {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
	text-decoration: none;
  font-weight: 200;
  font-style: normal;
	color: #92ADA4;
}
a:hover {
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
	color: #DAA38F;
}
footer {
	margin: 50px;
	background-color: #FED8A6
}
header {
	background-color: #DAA38F;
	Padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px
}
img {
	display: block;
	margin-left: 100px;
	margin-right: 100px;
}
ol {
	font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
	color: #9B7D61;
	padding-left: 100px;
	padding-right: 100px
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
#readabilityimage{
	margin: auto;
}
figure{
	margin: auto;
}
figcaption{
	margin: auto;
	text-align: center;
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
	color: #AD937C;
	padding: 15px;
}

#typoImage{
	display: block;
	margin: auto;
	padding-bottom: 15px;
}

.button a {
	background-color: #92ADA4;
	color: #FED8A6;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px
}
.button a:hover {
	background-color: #DAA38F;
	color: #FED8A6
}
.rightAlign {
	float: right;
	padding-left: 100px;
}
.leftAlign {
	float: left;
	padding-right: 100px;
}
.twoColumn {
	column-count: 2;
	column-gap: 40px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA38F;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #FED8A6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #D3947B;}

ul.topnav li a.active {background-color: #92ADA4;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
